<div>
    <h2> TBMD - The Big Movie Database</h2>
</div>
<div id="socials">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-tiktok"></i>
</div>