<div id="logoHeader">
    <a href="/"><img src="/assets/movieDBLogo.png" alt="Logo" id="headerLogo"></a>
</div>
<div id="titleHeader">
    <a href="/" style="text-decoration:none"><h1>TBMD - The Big Movie Database</h1></a>
<div class="search-bar">
    <input type="hidden" name="movieId" id="movieId" value="">
    <select class="search-select" id="genreSearchFilter">
      <option value="0">All Genres</option>
    </select> 
    <input type="text" placeholder="Search" name="searchBar" id="searchBar">
    <div class="search-result" id="searchResult" name="searchResult"></div>              
    <div class="icon" id="searchIcon"><i class="fas fa-search"></i></div>
  </div>
</div>

<div id="navHeader">
<nav>
    <a href="/" title="HOME"><i class="fas fa-home"></i></a>
    <% if (req.session.user_id) { %>
        <a href="/logout" title="LOGOUT"><i class="fas fa-sign-out-alt"></i></a>
    <% } else { %>
        <a href="/signup" title="SIGN UP"><i class="fas fa-user-plus"></i></a>
        <a href="/login" title="LOG IN"><i class="fas fa-sign-in-alt"></i></a>
    <% } %>
</nav>
</div>
<script src="/js/application.js"></script>
