<h1>Website Header</h1>
<nav>
    <a href="/">Home</a>
    <% if (req.session.user_id) { %>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Log in</a>
    <% } %>
</nav>
