<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <!-- stops from going back after logging -->
    <script>
        console.log(window.performance)
        if (window.performance && window.performance.navigation.type === 2){
          console.log('Reloading');
          console.log(window.performance.navigation.type);
          window.location.reload();
        }
      </script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/125416e4be.js" crossorigin="anonymous"></script>      
      <script src="/js/HomeJquery.js" defer></script>
</head>
<body>
    <header class="flex space-between">
        <%- include('partials/header.ejs') %>
    </header>
    <main>
       <%- body %> 
    </main>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>