/* GLOBAL PROPERTIES */
*, *::after, *::before { /* Makes math easier if everything is at 0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 5% 5% 5%;
}

body {
    background-color: #F8F1F1;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.space-between {
    justify-content: space-between; /* Splits the nav div's to be on each side */
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #16697A;
    color: #F8F1F1;
    margin: 0% 2% 2% 2%;
    border-bottom: 10px solid #DB6400;
}

#headerLogo {
    display: block;
    height: 50%;
    width: auto;
}



/* FOOTER */

footer {
    background-color: #16697A;
    color: #F8F1F1;
    margin: 2% 2% 0% 2%;
    border-top: 10px solid #DB6400;
    text-align: center;
}

/*LINK STYLING */

a {
    font-size: 40px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

a:link {
    color: #FFA62B;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

a:visited {
    color: #FFA62B;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    color: #DB6400;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

a:active {
    color: #F8F1F1;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
    font-size: 20px;
  }


/* FORM STYLE */

label, input {
    font-weight: bold;
    display: block;
    margin: 5px 5px;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    background-color: #c4cad0;
}

button {
    margin: 20px 0;
    background-color: #6a7b8b;
    color: white;
    text-decoration: solid;
    font-size: 20px;
    border-radius: 10px;
}

/* Home Page Table */

.poster {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.movieCard {
    margin: 1%;
    width: 30%;
}

.TitleStyle {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}