<section id='movieHeading'>
    <h1 id='movieName'>Movie Name</h1>
    <div id="movieRating">*****</div>
</section>
<section id='movieTrailer'>
    <iframe class="movieVideo" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div id='movieSynopsis'>Synopsis of Movie here</div>
</section>
<section id='movieCast'>
    <h2>Cast:</h2>
</section>
