<section id='randomMovie'>
  <div id="hometrailer">
    <iframe class="movieVideo" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div id=homeMovieDetails></div>

</section>
<section id='genreSelect'>
  <div class="btn-group-sm" role="group" id="genreHomeFilter">
    <input type="checkbox" class="btn-check" name="genreCheckAll" id="genreCheckAll" autocomplete="off" value="0">
    <label class="btn btn-outline-primary" id="allGenres" for="genreCheckAll">All</label>    
  </div>
</section>
<section class="flex.wrap" id="movies"></section>