<section id='randomMovie'>
  <div id="hometrailer">
    <!--img src="https://i.ytimg.com/vi/dF_I0f6sUuU/maxresdefault.jpg" alt="trailerPlaceholder" id="trailerPlaceholder"-->
    
       <iframe class="movieVideo" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>
  <div id=homeMovieDetails></div>

</section>
<section id='genreSelect'>
  <div class="btn-group-sm" role="group" id="genreHomeFilter">
    <input type="checkbox" class="btn-check" name="genreCheckAll" id="genreCheckAll" autocomplete="off" value="0">
    <label class="btn btn-outline-primary" for="genreCheckAll">All</label>    
  </div>
  <!--select id="genreHomeFilter" class="form-control">
    <option value="0">All Genres</option>
  </select-->
</section>
<section class="flex.wrap" id="movies"></section>