<section>
  <select class="search-select" id="genreHomeFilter">
    <option value="0">All Genres</option>
  </select>
</section>
<section>
<iframe class="movieVideo" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2></h2>
</section>
<section class="flex wrap" id="movies"></section>