<div id="hometable">
    <table>
        <thead>
            <tr id='tableHeading'>
                <th>ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= users[i].id %></td>
                    <td><%= users[i].first_name %></td>
                    <td><%= users[i].surname %></td>
                    <td><%= users[i].email %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div id="movies">
    
</div>