
<div id="loginFormHeading">
    <h2>Login</h2>
    <p>Enter your email and password</p>
</div>

<form action='/login' method='POST' id='loginForm'>
    <div>
        <label for='email'>Email:</label>
        <input id='email' name='email' type='email'>
    </div>
    <div>
        <label for='password'>Password:</label>
        <input id='password' name='password' type='password'>
    </div>
    <input type="hidden" name="referer" value= <%= referer %> >
    <% if (message) { %>
        <p style='color:red'><%= message %></p>
    <% } %>
    <button type='submit'>Login</button>
</form>
<h3>Don't have an account?</h3>
<p><a href='/signup'>Sign up</a> to start rating your favourite movies today!</p>

