<div id='signupFormHeading'>
    <h2>Create A New Account</h2>
    <p>Want to rate your favourite movies? Create an account today to let others know your favourites! Just complete the form below! All fields are required.</p>
</div>

<div class="formContainer">
    <form id='signupForm' action='/signup' method='POST'>
        <div>
            <label for='name'>First Name:</label>
            <input id='name' name='name' type='text'>
        </div>
        <div>
            <label for='surname'>Surname:</label>
            <input id='surname' name='surname' type='text'>
        </div>
        <div>
            <label for='email'>Email:</label>
            <input id='email' name='email' type='email'>
        </div>
        <div>
            <label for='password'>Password:</label>
            <input id='password' name='password' type='password'>
        </div>
        <div>
            <label for='confirmPassword'>Confirm Password:</label>
            <input id='confirmPassword' name='confirmPassword' type='password'>
        </div>
        <div>
            <% if(message) { %>
                <p style='color: red'><%= message %></p>
            <% } %>    
        </div>
        <button type='submit'>Sign Up</button>
    </form>
    <h3>Already have an account?</h3>
    <p>Log in <a href='/login'> here</a></p>
</div>
<script type="text/javascript" src="/js/formHandler.js"></script>